body {
  margin: 0;
  font-family: 'GenSenRouneded-B';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'GenSenRouneded-B';
}

@font-face {
  font-family: 'GenSenRouneded-B';
  src: url(./Fonts/GenSenRounded-B.ttc);
}
